@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p>This page is nothing.. just a button ... that does nothing... so dont be tempted...</p>
    <div id="welp"></div>
    <button id="btn" onclick="play1()">PRESS ME!!!!!!</button>
    <div id="youtube-frame"></div>
</div>
